.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 2rem;
}

.social-media-container {
	display: flex;
	padding-top: 1.25rem;

	gap: 2rem;
}

.contact-container p {
	font-size: 1.875rem;
	font-weight: 400;
}

div.social-media-container img {
	height: 12.5rem;
	aspect-ratio: 1/1;
}

img:hover {
	/* 	box-shadow: 1px 1px 10px #60a5fa; */
	cursor: pointer;
	transform: scale(1.2);
	transition: all 0.25s 0s ease-in-out;
}

img:active {
	filter: invert(66%) sepia(36%) saturate(4681%) hue-rotate(190deg)
		brightness(103%) contrast(96%);
}

img {
	filter: brightness(0) saturate(100%) invert(99%) sepia(20%) saturate(0%)
		hue-rotate(355deg) brightness(112%) contrast(100%);
}

/* Styles for small screens (e.g., smartphones) */
@media only screen and (max-width: 767px) {
	div.social-media-container img {
		height: clamp(3.125rem, 4.688rem, 9.375rem);
		aspect-ratio: 1/1;
	}

	.contact-container {
		margin-top: 4rem;
	}
	.contact-container p {
		font-size: clamp(0.625rem, 1rem, 1.875rem);
	}

	.social-media-container {
		gap: clamp(0.5rem, 1rem, 1.5rem);
		display: flex;
		flex-wrap: wrap;
	}
}

/* Styles for medium screens (e.g., tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.contact-container {
		margin-top: 6rem;
	}

	div.social-media-container img {
		height: 9.375rem;
		aspect-ratio: 1/1;
	}

	.contact-container p {
		font-size: 1.625rem;
	}
}

/* Styles for large screens (e.g., desktops) */
@media only screen and (min-width: 1024px) {
	.contact-container {
		margin-top: 6rem;
	}
}
