.contact-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	height: 100%;

	justify-content: center;
	padding-bottom: 40px;
}

.social-media-container {
	display: flex;
	padding-top: 20px;

	gap: 2rem;
}

.contact-container p {
	font-size: 30px;
}

div.social-media-container img {
	height: 200px;
	aspect-ratio: 1/1;
}

img:hover {
	/* 	box-shadow: 1px 1px 10px #60a5fa; */
	cursor: pointer;
	transform: scale(1.2);
	transition: all 0.25s 0s ease-in-out;
}

img:active {
	filter: invert(66%) sepia(36%) saturate(4681%) hue-rotate(190deg)
		brightness(103%) contrast(96%);
}

img {
	filter: brightness(0) saturate(100%) invert(99%) sepia(20%) saturate(0%)
		hue-rotate(355deg) brightness(112%) contrast(100%);
}

/* Styles for small screens (e.g., smartphones) */
@media only screen and (max-width: 767px) {
}

/* Styles for medium screens (e.g., tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Styles for large screens (e.g., desktops) */
@media only screen and (min-width: 1024px) {
	/* Keep your existing styles for large screens */
}
