.landing-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

div.pic-side-container img {
	height: 31.25rem;
	aspect-ratio: 1/1;
	border-radius: 25rem;
}

div.text-side-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.text-side-container h2 span {
	font-size: 3.75rem;
}

div.text-side-container p {
	font-size: 0.875rem;
	width: 37.5rem;
}

div.text-side-container h2 {
	margin-bottom: 0.313rem;
}

.text-side-container {
	padding: 0 0 0 0.313rem;
}

div p {
	margin-top: 1.25rem;
}

p span {
	cursor: pointer;
	display: inline-block; /* or 'block' depending on your layout requirements */
	transform-origin: center;
	transition: transform 2s ease-in-out;
}

p span.scale {
	transform: scale(1.2);

	font-weight: 600;

	/* color: #60a5fa; */
	color: white;
	background-color: #60a5fa;
	/* opacity: 0.9; */
	border-radius: 0.313rem;
	padding: 0.313rem;
	box-shadow: 1px 1px 10px #60a5fa;
	position: absolute;
}

/* Styles for small screens (e.g., smartphones) */
@media only screen and (max-width: 767px) {
	body {
		display: flex;
		flex-direction: column;
	}

	.landing-container {
		margin-top: 1.25rem;
	}
	div.pic-side-container img {
		height: 24rem;
		aspect-ratio: 1/1;
		border-radius: 25rem;
	}

	div.text-side-container h2 {
		font-size: clamp(1rem, 1.875rem, 3.125rem);
	}

	div.text-side-container {
		gap: 0.125rem;
	}

	div.text-side-container p {
		font-size: 0.625rem;
		gap: 0;
		width: 18.75rem;
	}

	div.text-side-container h2 {
		margin-bottom: 0.313rem;
	}
	div p {
		margin-top: 0.625rem;
	}
}

/* Styles for medium screens (e.g., tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	body {
		display: flex;
		flex-direction: column;
	}
	.landing-container {
		margin-top: 1.875rem;
	}
}

/* Styles for large screens (e.g., desktops) */
@media only screen and (min-width: 1024px) {
	.landing-container {
		margin-top: 1.875rem;
	}
}
