.landing-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* width: 100%; */
	/* margin-top: 60px; */
	flex-wrap: wrap;
}

div.pic-side-container img {
	height: 500px;
	aspect-ratio: 1/1;
	border-radius: 400px;
}

div.text-side-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	/* width: 50%; */
}

div.text-side-container p {
	font-size: 14x;
	width: 600px;
}

div.text-side-container h2 span {
	font-size: 60px;
}

div.text-side-container h2 {
	font-size: 42px;
	margin-bottom: 5px;
}

.text-side-container {
	padding: 0 0 0 5px;
}

div p {
	margin-top: 20px;
}

p span {
	cursor: pointer;
	display: inline-block; /* or 'block' depending on your layout requirements */
	transform-origin: center;
	transition: transform 2s ease-in-out;
}

p span.scale {
	transform: scale(1.2);

	font-weight: 600;

	/* color: #60a5fa; */
	color: white;
	background-color: #60a5fa;
	/* opacity: 0.9; */
	border-radius: 5px;
	padding: 5px;
	box-shadow: 1px 1px 10px #60a5fa;
	position: absolute;
}

/* Styles for small screens (e.g., smartphones) */
@media only screen and (max-width: 767px) {
}

/* Styles for medium screens (e.g., tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Styles for large screens (e.g., desktops) */
@media only screen and (min-width: 1024px) {
	/* Keep your existing styles for large screens */
}
