@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/* 	font-size: 16px;
 */
	font-family: "Roboto Flex", sans-serif;
}

body {
	height: 100vh;
	display: grid;
	grid-template: 10% 90% / 100%;
	overflow-y: scroll;
}

main {
	padding-left: 100px;
	padding-right: 100px;
}

/* Header */

header {
	max-height: 100px; /* Set a maximum height equal to the viewport height */
	overflow: -moz-hidden-unscrollable;

	border: 1px solid black;
	background-color: blueviolet;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 100px;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	border: 1px solid black;

	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding-left: auto;
	gap: 20px;
}

ul li {
	min-width: fit-content;
	text-align: center;
}

header a {
	/* display: block; */
	border: 1px solid black;
	min-width: 400px;

	font-weight: 700;
	font-size: 36px;
}
header h1 {
	border: 1px solid black;
	min-width: 200px;

	font-weight: 700;
	font-size: 36px;
}
