@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Roboto Flex", sans-serif;
	color: white;
}

body {
	height: 100vh;
	display: grid;
	grid-template: 10% 90% / 100%;
	overflow-y: scroll;
	background-color: #202833;
}

main {
	padding-left: 6.25rem; /* 100px converted to rem */
	padding-right: 6.25rem; /* 100px converted to rem */
}

/* Header */
header {
	max-height: 6.25rem; /* 100px converted to rem */
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0.3125rem 6.25rem; /* 5px converted to rem, 100px converted to rem */
	color: white;
	gap: 10rem;
	border-bottom: solid 0.0625rem rgb(255, 255, 255, 0.2); /* 1px converted to rem */
	background-clip: padding-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding-left: auto;
	gap: 1.25rem; /* 20px converted to rem */
	padding: 0.125rem; /* 2px converted to rem */
}

ul li {
	min-width: fit-content;
	text-align: center;
}

header a {
	font-weight: 700;
	font-size: 2.25rem; /* 36px converted to rem */
	padding: 0.3125rem; /* 5px converted to rem */
}

header h1 {
	font-weight: 700;
	font-size: 2.25rem; /* 36px converted to rem */
}

.active {
	background-color: #60a5fa;
	opacity: 0.6;
	transition: ease-in;
	transition-duration: 1s;
	border-radius: 0.3125rem; /* 5px converted to rem */
}

/* ////////////////// */
/* Responsive Overall */
/* ////////////////// */

/* Styles for small screens (e.g., smartphones) */
@media only screen and (max-width: 767px) {
	body {
		display: flex;
		flex-direction: column;
	}

	main {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	header {
		height: fit-content;
		padding: 0.5rem 0rem;
		margin: 0rem 1rem; /* Adjust the margin for smaller screens */
		gap: 1rem; /* Adjust the gap between elements */
	}

	header h1 {
		font-size: 1rem; /* Adjust the font size for h1 on smaller screens */
	}

	header a {
		font-size: 1rem; /* Adjust the font size for anchor elements */
	}
}

/* Styles for medium screens (e.g., tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	body {
		display: flex;
		flex-direction: column;
	}

	header {
		height: fit-content;
		padding: 1rem 0rem;
		margin: 0 2rem; /* Adjust the margin for medium screens */
	}

	header h1 {
		font-size: 1.8rem; /* Adjust the font size for h1 on medium screens */
	}

	header a {
		font-size: 1.5rem; /* Adjust the font size for anchor elements on medium screens */
	}
}

/* Styles for large screens (e.g., desktops) */
@media only screen and (min-width: 1024px) {
	/* Keep your existing styles for large screens */
}
